.myalgo-btns-container {
    background-color: #FFFFFF;
    padding: 15px 25px;
}
.myalgo-btns-container.dark {
    background: transparent linear-gradient(180deg, #464646 0%, #0D0D0D 100%) 0% 0% no-repeat padding-box;
}

.myalgo-theme-title {
    color: #000000;
    font: normal normal 500 20px/24px 'Montserrat';
}

.myalgo-theme-title.dark {
    color: #FFFFFF;
}

.myalgo-box {
    margin: 20px 0px;
}
.myalgo-box-btn {
    display: inline-block;
    margin: 7.5px 45px 7.5px 0px;
}
